
<br><br><br><br><br>


{{#link-to 'event-profile' model.eventInstanceSlug}}back to event{{/link-to}}

test user profile new: <br>

<div>name: {{name}}</div>

<div>events played at:</div>
<ul>
{{#each e in eventsPlayedAt}}
	<li>{{e.name}}</li>
{{/each}}
</ul>

<div>bio: {{bio.content}}</div>

{{#each image in images}}

{{image-helper image.url 'c_fill,h_300,w_200'}}

{{/each}}

{{outlet}}
